$font-stack: Helvetica, sans-serif;
$theme-color: #5351ff;
$bg-color-white: #ffffff;
$btn-border-color:#cccccc;
$desc-text-color:#8f8f8f;
$bg-color-grey:#f8f8f8;
$input-color-placeholder:#C1CBE2;
$hide-popup-color: rgba(0, 0, 0, 0.4)
